body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#container {
    width: 350px;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

#container:hover {
    box-shadow: 0px 0px 8px rgba(67, 236, 98, 0.508);
    transition-duration: 100ms;
}

#container input:hover {
    box-shadow: 0px 0px 8px rgba(67, 236, 98, 0.512);
    transition-duration: 10ms;
}
#heading {
    text-align: center;
    font-size: 20px;
    margin-bottom: 15px;
    color: #333;
}

label {
    display: block;
    margin: 20px 5px 5px;
    font-weight: bold;
    text-align: left;
    color: #444;
}

input,
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    box-sizing: border-box;
}

button {
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 25px;
}

button:hover {
    background-color: #069026;
}